<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 web-part-heading">
    <span class="fa fa-newspaper-o fa-lg padding-right" aria-hidden="true"></span>NEWS FEED
</div>
<div class="news-inner-div">
    <div class="news-content-div" *ngFor="let nfData of newsFeedData">
        <div class="row sfd-row">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 col-xl-2 news-image-div">
                <img class="news-image" alt="NewsFeedData" [src]="nfData.NewsImage?.Url" />
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-xl-10 news-data">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 news-content-heading">
                    <a *ngIf="nfData.NewsLink" class="news-link" (click)="openLink(nfData.NewsLink?.Url)">
                        {{ nfData.Title }}
                    </a>
                    <span *ngIf="!nfData.NewsLink">{{ nfData.Title }}</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 news-content-date">
                    {{ nfData.NewsDate | date: "MM/dd/yyyy" }}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 news-content-desc">
                    {{ nfData.NewsDescription }}
                </div>
            </div>
        </div>
    </div>
</div>